/* FeedbackForm Container */
.feedback-form {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20px;
    font-family: Montserrat, sans-serif;
    font-size: 16px; /* Увеличение размера шрифта */
}

.feedback-form .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.contact-type-selector {
    margin-right: 10px;
    font-family: Montserrat, sans-serif;
    color: black;
}

/* Form Input */
.feedback-form input[type='text'],
.feedback-form textarea,
.feedback-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #1e1e1e;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    color: black;
    font-size: 16px; /* Увеличение размера шрифта */
    position: relative;
}

.feedback-form select {
    appearance: none; /* Отключение стандартного вида селектора */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%231e1e1e"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px;
    padding-right: 20px; /* Увеличьте значение, если изображение стрелки должно быть дальше от текста */
}

.feedback-form select:focus {
    border-color: #007ACD; /* Изменение цвета рамки при фокусе */
}

.feedback-form textarea {
    height: 100px;
    resize: none;
}

/* Error Message */
.feedback-form .error-message {
    color: #f63b3b;
    font-size: 14px;
    text-align: center;
    font-family: Montserrat, sans-serif;
}

/* Success Message */
.feedback-form .success-message {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
    align-items: center;
}

/* Submit Button */
.feedback-form button[type='submit'] {
    background-color: #007ACD;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 0;
    width: 80%;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    text-align: center;
    font-size: 24px;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

.feedback-form button[type='submit']:hover {
    background-color: #076098;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

/* Privacy Policy Text */
.feedback-form p {
    margin-top: 10px;
    color: #bbbbbb;
    width: 100%;
    text-align: center;
    font-size: 10px;
}

/* Styles for div containing input for fullName */
.feedback-form .full-name-input {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.feedback-form .full-name-input input {
    padding: 10px;
    border: 1px solid #1e1e1e;
    border-radius: 4px;
    box-sizing: border-box;
}

.feedback-form .full-name-error-message {
    color: #f63b3b;
    font-size: 14px;
    margin-bottom: 4px;
    margin-top: 2px;
    text-align: center;
}

/* Styles for div containing textarea for question */
.feedback-form .question-input {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.feedback-form .question-input textarea {
    padding: 10px;
    border: 1px solid #1e1e1e;
    border-radius: 4px;
    box-sizing: border-box;
}

.feedback-form .question-error-message {
    color: #f63b3b;
    font-size: 14px;
    margin-bottom: 4px;
    margin-top: 2px;
    text-align: center;
}