header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: transparent;
    transition: background-color 0.3s ease;
    backdrop-filter: blur(0);
}

header.scrolled {
    background-color: rgba(30, 30, 30, 0.7);
    backdrop-filter: blur(10px);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 215px;
    height: auto;
    margin-right: 10px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: transparent;
    /*backdrop-filter: blur(10px);*/
    /*background-color: rgba(30, 30, 30, 1); !* Непрозрачный цвет фона меню *!*/
}

.menu li {
    margin-right: 20px;
    font-size: 25px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #007ACD;
}

/* Адаптивное меню */
.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon .icon-bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: transform 0.3s ease;
}

.menu.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%; /* Занимает всю ширину экрана */
    padding: 10px;
    transform: translateY(-100%); /* Полностью скрывает меню */
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s linear 0.3s;
}

.menu.open li {
    margin-right: 0;
    margin-bottom: 10px;
}

.menu.open a {
    color: #fff;
}

.menu-icon.open .icon-bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu-icon.open .icon-bar:nth-child(2) {
    opacity: 0;
}

.menu-icon.open .icon-bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 890px) {
    .menu {
        display: none;
    }

    .logo {
        margin: 0 auto;
    }

    .menu-icon {
        display: block;
    }

    .menu.open {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s linear;
        background-color: rgba(30, 30, 30, 1); /* Непрозрачный цвет фона меню */
    }

    .menu a:hover {
        color: #007ACD;
    }
}

.content {
    backdrop-filter: blur(10px);
    position: relative;
}