.slider-container {
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
}

.slider-wrapper {
    width: 100%;
    text-align: center;
}

.slider-item {
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 330px;
    margin: 0 auto;
}

.slider-item img {
    max-width: 310px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.slider-item h3 {
    font-size: 20px;
    margin-top: 10px;
}

.slider-item p {
    font-size: 16px;
    margin-top: 5px;
}

.slick-slider {
    position: relative;
}

.slick-track {
    display: flex !important;
    margin: 0 auto;
    justify-content: center; /* Добавлено */
    align-items: center; /* Добавлено */
}

.slick-slide {
    flex: 0 0 auto; /* Добавлено */
}

.slick-list {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}